src/*.user
src/*/*.user
src/*/*/*.user
src/*/*/*/*.user

src/*/bin
src/*/*/bin
src/*/*/*/bin

src/*/obj
src/*/*/obj
src/*/*/*/obj

src/_ReSharper.*
src/*/_ReSharper.*
src/*/*/_ReSharper.*
src/*/*/*/_ReSharper.*

src/*.suo
src/*/*.suo
src/*/*/*.suo
src/*/*/*/*.suo
